<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
  {% seo %}
  <link rel="stylesheet" href="{{ '/public/css/styles.css' | prepend: site.cdnurl }}">
  <link rel="stylesheet" href="https://cdn.bootcss.com/fancybox/3.5.6/jquery.fancybox.min.css" media="all">
  {% include head_css.html %}
  <!-- Icons -->
  <link rel="icon" type="image/jpeg" href="{{ '/public/images/icons/cat--5-152-85909.png' | prepend: site.cdnurl }}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/public/images/icons/cat--5-152-85909.png' | prepend: site.cdnurl }}">
  <!-- RSS -->
  <link rel="alternate" type="application/feed+xml" title="{{site.title}}" href="{{site.baseurl}}/feed.xml">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
  <script src="{{ '/public/js/jquery.min.js' | prepend: site.cdnurl }}"></script>
  <script src="{{ '/public/js/highlight.min.js' | prepend: site.cdnurl }}"></script>
  <script src="https://cdn.bootcss.com/fancybox/3.5.6/jquery.fancybox.min.js"></script>
  {% include google_analytics.html %}
  {% include baidu_analytics.html %}
</head>
